<div class="fixed-action-btn">
  <a class="btn-floating btn-large orange darken-4">
    <i class="large material-icons">drag_handle</i>
  </a>
  <ul>
    <li><a id="top" class="btn-floating red"><i class="material-icons">favorite</i></a></li>
    <li><a id="new" class="btn-floating blue"><i class="material-icons">fiber_new</i></a></li>
  </ul>
</div>