.spinner {
  margin: auto;
  width: 50%;
  text-align: center;
  padding-top: 5rem;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

main.bg-color {
  background-color: whitesmoke;
}

.brand-logo {
  font-weight: 500;
}

.default-title {
  font-weight: 500;
  color: black;
}

.thumbnail {
  height: 200px !important;
  width: 200px !important;
  padding: 1rem !important;
  margin: auto !important;
}

.notFound {
  margin-bottom: 50px;
}

.fixed-action-btn {
  bottom: 87vh;
}